body,
p{
    font-family: 'Roboto', sans-serif;
    display: flex; 
    flex-direction: column;
}

.header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex; 
    justify-content: space-between;
    align-items: center;
    padding: 6px 100px;
    
}

.logo {
    font-size: 24px;
   
    font-weight: 600;
}

.footer {
    background-color: #1F2937;
    color: #F9FAF8;
    text-align: center;
    font-size: 9px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.block {
    display: flex;
}
.first-block {
    background-color: #1F2937;
    color: #F9FAF8;
    padding: 100px 100px;
}
.inner-first-block {
    display: flex;
}

.second-block {
    display: block;
    padding: 16px 225px; 
    text-align: center;

}
.images-div {
    display: flex;
    margin: 45px 0px;
    gap: 25px;
}

.second-block img {   
    border: 5px solid #3882F6;
    border-radius: 12px;
    max-width: 125px;
    height: 125px;
}

.image p {
    margin-top: 0;
    font-size: 14px;
}
.third-block {
    background-color: #E5E7EB;  
    padding: 50px 250px;
    display: block;
}

.quote {
    font-size: 26px;
    color: #1F2937;
    font-weight: 300;
    font-style: italic;
}

.quote-citation {
    font-weight: 900;
    text-align: right;
}

a {
    text-decoration: none;
    color: #F9FAF8;
}

.second-block h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
}

ul {
    list-style-type: none;
    display: flex;
    gap: 28px;
}